.profile-main {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-line {
    display:flex;
    justify-content:flex-start;
}

